attrs==21.2.0
click==8.0.1
daiquiri==3.0.0
greenlet==1.1.1
iniconfig==1.1.1
more-itertools==8.9.0
packaging==21.0
pendulum==2.1.2
pinchme==2020.5.27
pip==21.2.4
pluggy==0.13.1
psycopg2==2.9.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
python-dateutil==2.8.2
python-json-logger==2.0.1
pytzdata==2020.1
setuptools==58.0.3
six==1.16.0
SQLAlchemy==1.4.23
toml==0.10.2
wheel==0.37.0
